<app-main-header></app-main-header>
<div> 
        <table>
                <tr>
                        <th>Id </th>  
                        <th>Post Id </th>  
                        <th>Name </th>  
                        <th>Email </th>  
                </tr>
                <tbody>
                    <tr>
                            <td> </td>  
                            <td></td>  
                            <td></td>  
                    </tr>  
                </tbody>
        </table>
</div>